/* 
Defines global variables
e.g. colour schemes and fonts
 */

/* @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700,300');
@import url('https://fonts.googleapis.com/css?family=Roboto:700,300'); */


/* Visited hyperlinks: #a22e2e */
/* Non-visited hyperlinks: #6385a9 */
:root {
  --pageBackgroundColor: #0f0f0f;  
  --textColor: #dcd6ce;


  /* Paragraphs */
  --pFontFamily: 'Roboto Slab', serif;

  /* Navbar */
  --navbarFontFamily: 'Roboto', Helvetica, sans-serif;
  --navbarFontWeight: 100;
  --navbarBackgroundColor: var(--pageBackgroundColor);
}
