/*
 Global styles 
 */

/* Global variables (colour schemes, fonts, etc.) */
@import 'global-variables.css';


body {
    font-family: var(--pFontFamily);
    color: var(--textColor);
    background-color: #0f0f0f;
    margin: 0;
}

a {
  color: #6385a9
}

a:hover {
  color: #2279d6
}


