/*
 Global styles 
 */

/* Global variables (colour schemes, fonts, etc.) */ 

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(220, 214, 206);
    background-color: #0f0f0f;
    margin: 0;
}
